.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
  align-items: center;
  width: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 900px; /* Set max-width for the parent container */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size:30px;
}

.top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%; /* Take up 100% of the parent container */
  justify-content: center;
}

.top-section > div {
  width: calc(50% - 10px); /* Each component in the top section takes up half of the width */
}

.weekly-progress {
  color: white;
  padding: 16px;
  border-radius: 30px;
  margin-top: 16px;
  text-align: center;
  width: 100%; /* Takes up 100% of the parent container */
  max-width: 900px;
}
