.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
  align-items: center; /* Centers all child elements, including top-section and weekly-progress */
  width: 100%;
}

.top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 75%; /* Matches the width of .weekly-progress */
  justify-content: center; /* Ensures the components inside are centered within top-section */
}

.top-section > div {
  width: calc(50% - 10px); /* Each component takes up half of .top-section, accounting for gap */
}

.weekly-progress {
  color: white;
  padding: 16px;
  border-radius: 30px;
  margin-top: 16px;
  text-align: center;
  width: 75%;
}
