.sleep {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #b8e0ba;
  border-radius: 45px;
  max-width: 400px;
  text-align: left;
}

.sleep h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.sleep-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container {
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}
